#backgroundColor{
    background: #2C3D55;
    color: #DEE7E7;
}

h1{
    color: #547aa5;
}

h2{
    color: #547aa5;
}

h3{
   color: #547aa5;
}

p{
    color: #D8D5DB;
}

.text{
    text-align: center;
}

#contactLinks{
    justify-content: center;
  text-align: center;
}